<!DOCTYPE html>
<html ng-app="xImage">
<head>
<script src="../../../assets/angular.js"></script>
<script src="../../../assets/angular-animate.js"></script>
<script src="../../../assets/angular-sanitize.js"></script>
<script src="../../../assets/ui-bootstrap-tpls-2.js"></script>
<script src="../../../assets/angular-ui-tree.js"></script>
<script src="../../../assets/Chart.js"></script>
<script src="../../../assets/angular-chart.js"></script>
<script src="./Test.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="../../../assets/toolkit-inverse.css" rel="stylesheet">
<link href="../../../assets/application.css" rel="stylesheet">
<link href="../../../assets/angular-ui-tree.css" rel="stylesheet">
</head>
<body ng-controller="xTimingController" data-ng-init="initialize()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 content" style="text-align: center">
                <a ng-click="resetData()">{{title}}</a><span ng-if="stack.length > 0" ng-repeat="s in stack" > --> {{s.step.name}} ({{(s.endTime.raw - s.startTime.raw)}})</span><a ng-if="stack.length > 0" ng-click="up()"> - Up</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 content">
                <canvas class="chart chart-pie ng-isolate-scope" chart-data="timingData" chart-labels="timingLabels" chart-options="chartOptions" chart-click="chartClick"></canvas>
                
                <button id="doIt" value="allen" ng-click="initialize()" style="visibility: hidden;" />
            </div>
        </div>
    </div>
</body>
<script>

    var xGrid = angular.module('xImage', [ 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'chart.js' ]);

    xGrid
            .controller(
                    'xTimingController',
                    function XImageController( $scope )
                    {
                        $scope.testData = testData.pageData;
                        $scope.title = $scope.testData.testName;

                        $scope.stepScope = $scope.testData.stepList;
                        $scope.currentStep;
                        
                        $scope.timingLabels = [];
                        $scope.timingData = [];
                        
                        $scope.stack = [];
       
                        $scope.chartOptions = {
                            responsive: true,
                            legend: {
                                position: 'right',
                            },
                            scale: {
                              ticks: {
                                beginAtZero: true
                              },
                              reverse: false
                            },
                            animation: {
                                animateRotate: true,
                                animateScale: true
                            }
                        }
                        
                        $scope.resetData = function()
                        {
                            $scope.stepScope = $scope.testData.stepList;
                            $scope.stack = [];
                            $scope.currentStep = null;
                            $scope.initialize();
                        }
                        
                        $scope.up = function()
                        {
                            $scope.stack.pop();
                            if ( $scope.stack.length == 0 )
                                $scope.resetData();
                            else
                            {
                                $scope.currentStep = $scope.stack[ $scope.stack.length - 1];
                                $scope.stepScope = $scope.currentStep.stepList;
                                $scope.initialize();
                            }
                        }
                        
                        
                        $scope.chartClick = function( points, evt )
                        {
                            if ( $scope.stepScope[ points[ 0 ]._index ].stepList != null && $scope.stepScope[ points[ 0 ]._index ].stepList.length > 0 )
                            {

                                console.log(  points[ 0 ]);
                                $scope.currentStep = $scope.stepScope[ points[ 0 ]._index ]; 
                                $scope.stepScope = $scope.stepScope[ points[ 0 ]._index ].stepList;
                                
                                $scope.stack.push( $scope.currentStep );
                                
                                //$scope.stepScope.forEach(function( step )
                                //{
                                //    $scope.timingLabels.push(step.step.name);
                                //    $scope.timingData.push( (step.endTime.raw - step.startTime.raw) );
                                //});
                                
                                document.getElementById( "doIt" ).click();
                                
                            }
                        }
                        

                        $scope.initialize = function()
                        {
                            $scope.getTimings();
                        }

                        $scope.getTimings = function()
                        {
                            $scope.timingLabels = [];
                            $scope.timingData = [];
                            $scope.stepScope.forEach(function( step )
                            {
                                $scope.timingLabels.push(step.step.name);
                                $scope.timingData.push( (step.endTime.raw - step.startTime.raw) );
                                //$scope.chartColors.push( $scope.getRandomColor() );
                            });
                            
                                
                                
                                console.log( $scope.title );
                        }
                        
                        
                    });
</script>
</html>
